include doctypeTemplate
body
    div.nav-bar
        a#note-page(target="_blank" href='/notes') New note
        a#lists-page(target="_blank" href='/lists') New lists
    if notesList
        div#main-notes
            each item in notesList
                a.new-note(target="_blank" href=`/notes/${item._id}`)
                    p= `${item.title}`
                    p= `${item.description}`
    if listItem
        div#main-lists
            each val in listItem
                a.new-lists(target='_blank' href=`/lists/${val._id}`)
                    p= `${val.title}`
                    each item in val.text
                        li.todo-item
                            input.checkbox(type='checkbox')
                            label.title= `${item}`
    script(src='main.js')