extends /index
block header
    div.nav-bar
        div.container
            div.notes-link
                a#note-page(href='/notes')
                    span.notes-nav-link_front New notes
                    span.notes-nav-link_center
                    span.notes-nav-link_back Click
                a#lists-page(href='/lists')
                    span.notes-nav-link_front New lists
                    span.notes-nav-link_center
                    span.notes-nav-link_back Click
    div#main-notes
        div.container
            div.notes-all-link
                each item in notesList
                    a.new-note(href=`/notes/${item._id}`)
                        h4.note-title= `${item.title}`
                        p.note-description= `${item.description}`
                each val in listItem
                    a.new-lists(href=`/lists/${val._id}`)
                        h4.note-title= `${val.title}`
                        each item, index in val.classlist
                            li.todo-item
                                input.checkbox(type='checkbox')
                                span(class=`list ${item}`)= val.text[index]

    script(src='main.js')